* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  background-color: beige;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

button {
  cursor: pointer;
  font-size: 2rem;
  border-radius: .5rem;
}

input {
  width: 80%;
  height: 2rem;
  border: none;
  margin: 0 1.8rem;
  text-align: right;
  font-size: 1.2rem;
  outline: none;
}

i {
    font-size: 1.5rem;
}

#display {
    margin: 1rem;
    border-radius: 2rem;
    height: 4rem;
    background: white;
}

.container-display {
    align-items: center;
}

.container {
  width: 20rem;
  height: 24rem;
  background-color: #e6dfdf;
  border-radius: 2rem;
}

/* .container .container_caculator .container-display .current-display {
    font-size: 2rem;
} */

.container .caculator_keys {
    padding: 1rem;
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .3rem;
    justify-items: stretch;
    justify-content: center;
}

.container .caculator_keys .key--equal {
    background-color: blue;
    color: white;
}
