* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  display: flex;
  flex-direction: row;
  /* background-color: beige; */
  background: linear-gradient(-120deg, #021B79, #0575E6, #205E9B);
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

button {
  cursor: pointer;
  font-size: 2rem;
  border-radius: .5rem;
  transition: 200ms ease-in-out;
}

button:hover {
    transition: 200ms ease-in-out;
    background-color: rgba(0, 0, 255, 0.1);
}

input {
  width: 82%;
  height: 2rem;
  border: none;
  margin: 0 2rem;
  text-align: right;
  font-size: 1.5rem;
  outline: none;
}

#previous-display {
    height: 2rem;
    width: 19rem;
    /* background-color: black; */
    text-align: right;
    margin-left: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

i {
    font-size: 1.5rem;
}

#display {
    margin: 1rem;
    border-radius: 2rem;
    height: 4rem;
    background: white;
}

.container-display {
    align-items: center;
}

.container {
  width: 25rem;
  height: 24rem;
  background-color: rgba(255, 255, 255, 0.4); /* 50% transparent white */
  border-radius: 2rem;
}

/* .container .container_caculator .container-display .current-display {
    font-size: 2rem;
} */

.container .caculator_keys {
    padding: 1rem;
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .3rem;
    justify-items: stretch;
    justify-content: center;
}

.container .caculator_keys .key--equal {
    background-color: rgba(0, 0, 255, 0.8);
    color: white;
    transition: 200ms ease-in-out;
}
.container .caculator_keys .key--equal:hover {
    background-color: rgba(0, 0, 255, 0.6);
    color: white;
    transition: 200ms ease-in-out;
}
